body {
  padding: 10px;
  font: 18px "Lucida Grand", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  background-image: url("backgroundTexture.jpg");
  background-size: cover;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

label {
  color: lightblue;
}
.inputContent {
  background-color: transparent;
  padding: 10px;
}
.author {
  color:steelblue;
  font-family:"Bitstream Charter";
}

@media (min-width:768px){
  .navbar .navbar-default {
    position: relative;
    display: block;
  }
}